

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#connect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-bottom: 10px;
}

#inputField {
    margin: 10px;
    width: 100px;
}

